/*!CK:149533179!*//*1435069436,*/

._51nc{margin:0 -12px}
._4_zc:hover{text-decoration:none}
.sp_TqaP187LK6l{background-image:url(/rsrc.php/v2/yu/r/R10gBh5I8pG.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_TqaP187LK6l.sx_492d0c{background-position:0 0}.sp_TqaP187LK6l.sx_c9190d{background-position:0 -17px}.sp_TqaP187LK6l.sx_1b650f{background-position:0 -34px}
.sp_wORh-eHfHLw{background-image:url(/rsrc.php/v2/yy/r/Ph5lsb4WR9q.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_wORh-eHfHLw.sx_62dc03{background-position:0 0}.sp_wORh-eHfHLw.sx_332148{background-position:0 -17px}

#bootloader_O2Osq { height: 42px; }
.bootloader_O2Osq { display:block !important; }